[Unit]
Description=Not a real HMRC Service for Fake Expat Benefit Service
#Requires=After=mysql.service       # Requires the mysql service to run first

[Service]
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -m 777 -p /var/run/narhs
ExecStartPre=/bin/chown narhs:nginx /var/run/narhs

ExecStart=/usr/bin/node /opt/not-a-real-hmrc-service/app.js 2>> /var/log/narhs/not-a-real-hmrc-service.err.log 1>> /var/log/narhs/not-a-real-hmrc-service.log
ExecStopPost=/bin/rm -r /var/run/narhs
Restart=always
RestartSec=10 
User=narhs
Group=narhs

[Install]
WantedBy=multi-user.target
